.container {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 150vh;
}
.boxStyle{
    border-radius: 35px;
    background-color: inherit;
    overflow: hidden;
    background-color: #5a575711;
    border: 0.5px solid rgba(255, 255, 255, 0.091);
}
.container .startBox {
    position: relative;
    margin-left: 12vw;
    width: 27vw;
    height: 44vh; 
}
.container .summery{
    position: absolute;
    top: 0;
    left: 36vw;
}
.container .summery h1{
    font-family: Arial, sans-serif;
    text-transform:uppercase;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-left: 7.5vw;
}
.container .summery h1 .star{
    color: var(--main--text--color);
    opacity: 0.3;
}
.container .project1 {
    position: absolute;
    top: 10.5vh;
    left: 40.5vw;
    width: 22.5vw;
    height: 44vh; 
}
.container .project2{
    position: absolute;
    top: 10.5vh;
    left: 64.5vw;
    width: 22.5vw;
    height: 44vh; 
}

.container .project3{
    position: absolute;
    top: 47vh;
    left: 12vw;
    width: 27vw;
    height: 55vh; 
}

.container .project4{
    position: absolute;
    top: 58vh;
    left: 40.5vw;
    width: 22.5vw;
    height: 44vh;
}
.container .project5{
    position: absolute;
    top: 58vh;
    left: 64.5vw;
    width: 22.5vw;
    height: 44vh;
}
.container .project6{
    position: absolute;
    top: 104vh;
    left: 12vw;
    width: 27vw;
    height: 44vh;
}
.container .project7{
    position: absolute;
    top: 104vh;
    left: 40.5vw;
    width: 22.5vw;
    height: 44vh;
}

.container .project8{
    position: absolute;
    top: 104vh;
    left: 64.5vw;
    width: 22.5vw;
    height: 44vh;
}
.box{
    margin: 5%;
    width: 90%;
    height: 75%;
    border-radius: 35px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container h3{
    margin: 5% 5% 0 5%;
    font-family: Arial, sans-serif;
    text-transform:capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.container .arrow{
    margin: -10% 0 0 80%;
    font-size: 3rem;
    opacity: 0.2;
}
.startBox:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project1:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project2:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project3:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project4:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project5:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project6:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project7:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.project8:hover .arrow{
    opacity: 1;
    transition: all 1s ease;
}
.box .img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit:contain;
}
.container .containerFooter{
    position: relative;
    padding-bottom: 2vh;
    margin-top: 120vh;
    width: 100%;
    height: fit-content;
}
.container .containerFooter .logoContainer{
    text-align: center;
}
.container .containerFooter .logoContainer .logo{
    width: 20vw;
    height: 30vh;
}
.container .containerFooter .items{
    text-align: center;

}
.container .containerFooter .items{
    text-align: center;
    color: var(--main--text--color);
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.container .containerFooter .items .item{
    margin: 2%;
}
@media (max-width:1300px) {
    .container .summery h1{
        font-size: 50px;
    }
}
@media (max-width:1115px) {
    .container .summery h1{
        font-size: 45px;
    }
    .container h3{
        font-size: 16px;
    }
}
@media (max-width:950px) {
    .container .startBox {
        margin:10vh 0 0 18vw;
        width: 65vw;
        height: 50vh; 
    }
    .container h3{
        font-size: 18px;
    }
    .container .summery{
        position: absolute;
        top: 0;
        left: 18.5vw;
    }
    .container .summery h1{
        font-size: 45px;
    }
    .container .project1 {
        top: 62vh;
        left: 18vw;
        width: 65vw;
        height: 50vh; 
    }
    .container .project2{
        top: 114vh;
        left: 18vw;
        width: 65vw;
        height: 50vh; 
    }
    .container .project3{
        top: 166vh;
        left: 18vw;
        width: 65vw;
        height: 50vh; 
    }
    .container .project4{
        top: 218vh;
        left: 18vw;
        width: 65vw;
        height: 50vh; 
    }
    .container .project5{
        top: 270vh;
        left: 18vw;
        width: 65vw;
        height: 50vh;
    }
    .container .project6{
        top: 322vh;
        left: 18vw;
        width: 65vw;
        height: 50vh;
    }
    .container .project7{
        top: 374vh;
        left: 18vw;
        width: 65vw;
        height: 50vh;
    }
    .container .project8{
        top: 426vh;
        left: 18vw;
        width: 65vw;
        height: 50vh;
    }
    .container .containerFooter{
        margin-top: 430vh;
    }
}
@media (max-width:800px) {
    .container .summery h1{
        font-size: 35px;
    }
}
@media (max-width:600px) {
    .container .summery{
        position: absolute;
        top: 0;
        left: 16vw;
    }
    .container .summery h1{
        font-size: 25px;
    }
}
@media (max-width:414px) {
    .container .summery{
        position: absolute;
        top: 0;
        left: 18vw;
    }
    .container .summery h1{
        font-size: 20px;
    }
    .container .startBox {
        margin:10vh 0 0 8vw;
        width: 85vw;
    }
    .container .project1 {
        top: 62vh;
        left: 8vw;
        width: 85vw;
        height: 50vh; 
    }
    .container .project2{
        top: 114vh;
        left: 8vw;
        width: 85vw;
        height: 50vh; 
    }
    .container .project3{
        top: 166vh;
        left: 8vw;
        width: 85vw;
        height: 50vh; 
    }
    .container .project4{
        top: 218vh;
        left: 8vw;
        width: 85vw;
        height: 50vh; 
    }
    .container .project5{
        top: 270vh;
        left: 8vw;
        width: 85vw;
        height: 50vh;
    }
    .container .project6{
        top: 322vh;
        left: 8vw;
        width: 85vw;
        height: 50vh;
    }
    .container .project7{
        top: 374vh;
        left: 8vw;
        width: 85vw;
        height: 50vh;
    }
    .container .project8{
        top: 426vh;
        left: 8vw;
        width: 85vw;
        height: 50vh;
    }
    .container .containerFooter .logoContainer .logo{
        width: 60vw;
        height: 30vh;
    }
}